<h1>New Tournament</h1>
<input [(ngModel)]="playerName" (keyup.enter)="addPlayer()" placeholder="playerName">
<button (click)="addPlayer()" id="addButton">Add player</button>
<button (click)="resetTournament()" id="resetTournamentButton">Reset tournament</button>

<p></p>
<div id="playerList">
  <div *ngFor="let player of playerList" mySpy id="player">
      Player-Id: {{player.id}}  --- Name: {{player.name}}
      <div id="removeButton">
        <button (click)='removePlayer(player)'>Remove</button>
      </div>
  </div>
</div>

<p></p>
<div [hidden]="isCreationDoneInvisible" id="createTournamentFinished">
  <button (click)='creationDone()'>Done</button>
</div>
